{% extends "base.html" %}



{% block content %}
{% if no_data %}
<h1> There is no flights </h1>

{% else %}
<h1>You submited locations! From: {{ destination[0] }} To: {{ destination[1] }}</h1>
<div class="container.is-fullhd">
  <div class="table-container">
    <table class="table is-striped">
    <tr>
      {% for header in headings %}
      <th>{{ header }}</th>
      {% endfor %}
    </tr>
    {% for row in data_in_table %}
    <tr>
      {% for cell in row %}
      <td>{{ cell }}</td>
      {% endfor %}
      <td><form>
        <a href=# id=test><button class='button'>Test</button></a>
    </form></td>
    </tr>
    {% endfor %}
    </table>
  </div>
</div>
{% endif %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>


{% endblock %}
